<div class="table-responsive">
  <table class="table table-dark table-hover table-bordered">
    <thead class="theadStyle">
        <tr>
            <th>Company Name</th>
            <th>Stock Exchange</th>
            <th>Price Per Share</th>
            <th>Total No Of Shares</th>
            <th>Open Date Time</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody class="tbodyStyle">
        <tr *ngFor="let item of ipoList">
            <td>{{item.companyName}}</td>
            <td>{{item.stockExchange}}</td>
            <td>{{item.pricePerShare}}</td>
            <td>{{item.totalNoOfShares}}</td>
            <td>{{item.openDateTime}}</td>
            <td>{{item.remarks}}</td>
        </tr>
    </tbody>
  </table>
  </div>