<div class="table-responsive">
<table class="table table-dark table-hover table-bordered">
  <thead>
      <tr>
          <th>Company Logo</th>
          <th>Company Name</th>
          <th>Brief Writeup</th>
          <th>Operation</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td scope="row">
              <img src=""
                  alt="Training Name" width="100px" height="100px">
              Company One
          </td>
          <td>BSE,NSE</td>
          <td>brief writeup</td>
          <td>
              <div>
                  <input type="button" value="edit" width="100%">
              </div>
          </td>
      </tr>
      <tr>
          <td scope="row">
              <img src=""
                  alt="Training Name" width="100px" height="100px">
              Company Two</td>
          <td>BSE</td>
          <td>brief writeup</td>
          <td>
              <div>
                  <input type="button" value="edit" width="100%">
              </div>
          </td>
      </tr>
  </tbody>
</table>
</div>