<div class="card">
  <div class="card-header">
    <h3>Summary of Upload</h3>
  </div>
  <div class="card-body">
    <form>
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Company Name</span>
        </div>
        <input type="text" name="companyName" class="form-control" placeholder="" [(ngModel)]="companyName" readonly/>
      </div>
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Stock Exchange</span>
        </div>
        <input type="text" name="stockExchange" class="form-control" placeholder="" [(ngModel)]="stockExchange" readonly/>
      </div>
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">No. of Records Imported</span>
        </div>
        <input type="text" name="NoOfRecordsImported" class="form-control" placeholder="" [(ngModel)]="NoOfRecordsImported" readonly/>
      </div>
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">From Date</span>
        </div>
        <input type="text" name="fromDate" class="form-control" placeholder="" [(ngModel)]="fromDate"readonly/>
      </div>
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">To Date</span>
        </div>
        <input type="text" name="toDate" class="form-control" placeholder="" [(ngModel)]="toDate" readonly />
      </div>
      <div>
        <div class="form-group">
          <input type="submit" value="OK" class="btn float-left login_btn" (click)="ok()"/>
        </div>
      </div>
    </form>
  </div>
</div>
