<div class="card">
  <div class="card-header">
    <h3>Import Excel</h3>
  </div>
  <div class="card-body">
    <form>
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Select Excel File to be Uploaded</span>
        </div>
        <input
          type="file"
          class="form-control"
          placeholder=""
          (change)="handleExcel($event)"
        />
      </div>
      <div class="form-group">
        <input
          type="submit"
          value="Upload"
          class="btn float-right login_btn"
          (click)="upload()"
        />
      </div>
      <div class="form-group">
        <a
          href="https://github.com/vskreddy652/Genc_BatchB/blob/master/StockExchange_CaseStudy/sample_stock_data.xlsx"
          >Click Here to download sample Excel file</a
        >
      </div>
    </form>
  </div>
</div>
