<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="#">User Menu</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
          data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
          <form class="form-inline mr-auto my-2 my-lg-0" id="search-form">
              <input class="form-control mr-sm-2" id="companySearchTxt" name="companySearchTxt" type="text" placeholder="" [(ngModel)]="companySearchTxt" (keyup)="keyup()" [readonly]="searchTxtReadonly">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="companySearch()" [disabled]="searchDisabled">Search</button>
              <div id="suggest" *ngIf="promptShow">
                <ul id="search-result" class="list-group">
                    <li *ngFor="let item of suggestResults; let key = index" (click)="promptClick(key)" class="list-group-item">{{item.companyName}}</li>
                </ul>
              </div>
          </form>
          <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fa fa-bell" aria-hidden="true"></i>Notifications</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i>User</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a [routerLink]="" class="dropdown-item" (click)="updatePwd()">{{username}}</a>
                    <a [routerLink]="" class="dropdown-item" (click)="logout()">Logout</a>
                    <a [routerLink]="" class="dropdown-item" (click)="profile()">Profile</a>
                </div>
            </li>
        </ul>
      </div>
  </nav>
  <table class="table table-dark table-hover">
      <thead>
          <tr>
                <th><a [routerLink]="" class="nav-link" (click)="IPOSClick()">IPOs</a></th>
                <th><a [routerLink]="" class="nav-link" (click)="compareCompanyClick()">Compare Company</a></th>
                <th><a [routerLink]="" class="nav-link" (click)="compareSectorClick()">Compare Sectors</a></th>
                <th><a [routerLink]="" class="nav-link" (click)="companyListClick()">Company List</a></th>
          </tr>
      </thead>
  </table>
  <app-user-company-list [searchResults]="searchResults" *ngIf="companyListShow"></app-user-company-list>
  <app-user-comparison-charts [companyOrSector]="companyOrSector" *ngIf="compareChartsShow"></app-user-comparison-charts>
  <app-user-ipo-list *ngIf="ipoShow"></app-user-ipo-list>
</div>