<div class="container">
  <div class="d-flex justify-content-center h-100">
      <div class="card">
          <div class="card-header">
              <h4>Tmp Pwd to Inbox</h4>
          </div>
          <div class="card-body">
              <form>
                  <div class="input-group form-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-user"></i></span>
                      </div>
                      <input type="text" name="username" class="form-control" placeholder="username" [(ngModel)]="username" (blur)="usernameBlur()">
                  </div>
                  <span id="regiWarn" class="regiWarn float-left"></span>
                  <div class="form-group">
                      <input type="submit" value="Send" class="btn float-right login_btn" (click)="send()">
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>