<form>
  <div class="input-group form-group">
      <div class="input-group-prepend">
          <span class="input-group-text">Select Company/Sector</span>
      </div>
      <select class="form-control" name="" id="">
          <option>company1</option>
          <option>company2</option>
          <option>company3</option>
      </select>
  </div>
  <div class="input-group form-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Select Stock Exchange</span>
    </div>
    <select class="form-control" name="" id="">
      <option>exchange1</option>
      <option>exchange2</option>
      <option>exchange3</option>
  </select>
</div>
  <div class="input-group form-group">
      <div class="input-group-prepend">
          <span class="input-group-text">From Period</span>
      </div>
      <input type="datetime-local" class="form-control" placeholder="" required>
  </div>
  <div class="input-group form-group">
      <div class="input-group-prepend">
          <span class="input-group-text">To Period</span>
      </div>
      <input type="datetime-local" class="form-control" placeholder="" required>
  </div>
  <div class="input-group form-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Specify Periodicity</span>
    </div>
    <input type="text" class="form-control" placeholder="" required>
</div>
  <div>
      <div class="form-group">
          <input type="submit" value="Generate Map" class="btn float-left login_btn">
      </div>
      <div class="form-group">
          <input type="submit" value="Add" class="btn float-right login_btn">
      </div>
  </div>
</form>